.panel.panel-primary
  .panel-heading
    Objects
  .panel-body
    %form.form-horizontal{method: 'get', action: "/#{bucket}"}
      .form-group
        .col-md-11
          %input.form-control{ type: 'text', name: 'q', placeholder: 'Search', value: q }
        .col-md-1
          %button.btn.btn-default.btn-block{ type: 'submit' } Go!
  %table.table.table-bordered.table-striped.table-condensed
    %thead
      %tr
        = haml :column_header, locals: { field: 'key' }
        = haml :column_header, locals: { field: 'size' }
        = haml :column_header, locals: { field: 'content_type', field_name: 'Type' }
        = haml :column_header, locals: { field: 'last_modified' }
    %tbody
      -objects.each do |obj|
        %tr
          %td= obj['key']
          %td= obj['size']
          %td= obj['content_type']
          %td= Time.at(obj['last_modified']).strftime('%Y-%m-%d %H:%M:%S')
