.row
  .col-md-12
    .panel.panel-primary
      .panel-heading
        = "#{bucket} / #{key}"

      %table.table.table-hover
        %tr
          %th Key
          %td= object[:key]
        %tr
          %th Bucket
          %td= object[:bucket]
        %tr
          %th eTag
          %td= object[:etag]
        %tr
          %th Size
          %td= object[:size]
        %tr
          %th Type
          %td= object[:content_type]
        %tr
          %th Last Modified
          %td= Time.at(object[:last_modified]).strftime('%Y-%m-%d %H:%M:%S')
        %tr
          %th Storage Class
          %td= object[:storage_class]
        %tr
          %td.text-left
            %a.btn.btn-default{ target: '_base', href: object[:url] } Download
          %td.text-right
            %form{ method: 'post', action: url("/#{bucket}/#{object[:key]}") }
              %input{ type: 'hidden', name: '_method', value: 'delete'}
              %button.btn.btn-warning{ type: 'submit', onclick: 'return confirm("This will completely remove the file.");' } Delete
-if object[:thumbnail]
  .row
    .col-md-12
      %img.img-response.img-thumbnail.center-block{ src: object[:url] }
